#############################################################################
# Password/Secret Management

set -U BITWARDEN_EMAIL ashebanow@cattivi.com

if status is-interactive
    bw_open
end

{{ if .headless }}
# we only define Bitwarden's service accounts on headless systems
set -Ux BWS_ACCESS_TOKEN "{{ (bitwarden "BW Limon BWS Access Token" "login").password }}"
{{- end -}}

# set up env variable for ssh-agent
set -x SSH_AUTH_SOCK "{{- .chezmoi.homeDir -}}/.bitwarden-ssh-agent.sock"
if test -f "$SSH_AUTH_SOCK"
    echo "WARNING: SSH Agent socket does not exist!"
    echo "Path: {{- .chezmoi.homeDir -}}/.bitwarden-ssh-agent.sock"
end
