# A lot of this is directly from
# https://github.com/twpayne/dotfiles/blob/436e4e9366667d84493d3504123bb16c89583605/home/.chezmoi.toml.tmpl

{{/* boolean feature tag */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $headless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $headless = true -}}
{{- end -}}

{{- if not $headless -}}
{{-   if or (eq $hostname "lumquat") (eq $hostname "calamansi") (eq $hostname "kumquat") (eq $hostname "rangpur") (eq $hostname "tangelo") -}}
{{-     $headless = true -}}
{{-   else if or (eq $hostname "bergamot") (eq $hostname "miracle_max") (eq $hostname "miraclemax") (eq $hostname "yuzu") (eq $hostname "liquidity-ubuntu-wsl") (eq $hostname "limon") -}}
{{-     "" -}}{{/* known personal host — headless stays false, no prompt */}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-   else -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $email := "ashebanow@gmail.com" -}}

[data]
    email = {{ $email | quote }}
    gitName = "Andrew Shebanow"
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    osid = {{ $osID | quote }}
    zshPlugins = [
      "vi-mode",
      "zsh-syntax-highlighting",
    ]

[github]
    refreshPeriod = "12h"
