set shell := ["bash", "-uc"]

{{- if (and (hasKey .chezmoi.osRelease "idLike") (eq .chezmoi.osRelease.idLike "fedora")) -}}
import "/usr/share/ublue-os/justfile"
{{- end }}

# default recipe to display help information
default:
    @just --list

# Update homebrew
[group('Maintenance')]
update-brew:
    brew update
    brew upgrade

# Update dotfiles using chezmoi
[group('Maintenance')]
update-config:
    chezmoi apply

# For testing, make chezmoi forget about script run state
[group('Testing')]
clear-chezmoi-script-state:
    chezmoi state delete-bucket --bucket=scriptState

# Run the install-packages script
[group('Testing')]
run-chezmoi-package-install:
    #!/usr/bin/env bash
    set -euo pipefail
    sourceScriptFile="{{- .chezmoi.sourceDir -}}/.chezmoiscripts/all/run_onchange_100-install-packages.sh.tmpl"
    installScriptFile=$(mktemp)
    chezmoi execute-template -f "${sourceScriptFile}" > "${installScriptFile}"
    chmod +x "${installScriptFile}"
    "${installScriptFile}"
    rm -f "${installScriptFile}"
