set shell := ["bash", "-uc"]

{{- if (and (hasKey .chezmoi.osRelease "idLike") (eq .chezmoi.osRelease.idLike "fedora")) -}}
import "/usr/share/ublue-os/justfile"
{{- end }}

# default recipe to display help information
default:
    @just --list

# Update dotfiles using chezmoi
[group('Chezmoi')]
update-config:
    chezmoi apply

# For testing, make chezmoi forget about script run state
[group('Chezmoi')]
clear-chezmoi-script-state:
    chezmoi state delete-bucket --bucket=scriptState

[group('pi')]
pi-update:
    @echo "Updating Pi Agent and extensions..."
    pi update --all -a
    @echo "Pi Agent update complete."
