github.com:
    users:
        ashebanow:
            oauth_token: {{ (bitwardenFields "item" "GitHub CLI Personal Access Token").token.value }}
    git_protocol: ssh
    oauth_token: {{ (bitwardenFields "item" "GitHub CLI Personal Access Token").token.value }}
    user: ashebanow
