# Managed by lazyssh

Host *
    User ashebanow
    IdentityFile {{ .chezmoi.homeDir -}}/.ssh/id_ed25519
    ControlMaster auto
    ControlPath ~/.ssh/controlmaster/%r@%h:%p
    ControlPersist yes

Host bergamot berg

Host berg.*
    HostName bergamot
    RemoteCommand zmx attach %k
    RequestTTY yes

Host lumquat lum
    User ashebanow
    HostName lumquat

Host lumquat-ts
    User ashebanow
    HostName 100.90.247.10
    Port 22

Host lum.*
    HostName lumquat
    RemoteCommand zmx attach %k
    RequestTTY yes

Host miraclemax mm
    HostName miraclemax

Host mm.*
    HostName miraclemax
    RemoteCommand zmx attach %k
    RequestTTY yes

Host aibot

Host aibot.*
    HostName aibot
    RemoteCommand zmx attach %k
    RequestTTY yes

Host limon li
    HostName limon

Host calamansi cala
    HostName calamansi

Host reverse-proxy
    User root

Host unifi
    User ubnt

Host storage
    User root

Host github.com github
    HostName ssh.github.com
    Port 443
    User git
    IdentityFile {{ .chezmoi.homeDir -}}/.ssh/github_ed25519
