# THIS SHOULD BE IN /etc/nix/nix.conf for multiuser installs
# trusted-users = [ "root" "@wheel" "@admin" ];

accept-flake-config = true
auto-optimise-store = true
cores = 8
max-jobs = auto
access-tokens = github.com={{- (bitwardenFields "item" "GitHub CLI Personal Access Token").token.value }}

extra-experimental-features = nix-command flakes

substituters = https://cache.nixos.org https://cattivi-public.cachix.org
trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= cattivi-public.cachix.org-1:qQQ8FHPoEibPtL1FTZTmVbUL78KW2zCRk+LZPsRiwQ4=
