# THIS LINE SHOULD BE IN /etc/nix/nix.custom.conf for Determinate
# multiuser installs:
# trusted-users = [ "root" "@wheel" "@admin" ];

accept-flake-config = true
auto-optimise-store = true
cores = 8
max-jobs = auto
access-tokens = github.com={{ index (output "bws" "secret" "get" "5a333d5a-d7aa-46cb-98e1-b479014cd326" | fromJson) "value" | trim }}

extra-experimental-features = nix-command flakes
