//
//                 ██           ██
//       ▄▄ ▄▄▄   ▄▄▄  ▄▄▄ ▄▄  ▄▄▄
//        ██  ██   ██   ██▀ ▀▀  ██
//        ██  ██   ██   ██      ██
//       ▄██▄ ██▄ ▄██▄ ▄██▄    ▄██▄
//
// Taken in LARGE part from https://github.com/lpnh/dotfiles under the
// Unlicense license (https://unlicense.org/).
//
// TODO: integrate https://github.com/lost-melody/IgnisNiriShell which is
// MIT-licensed.

// See https://github.com/YaLTeR/niri/wiki/Configuration:-Overview for the
// documentation of the configuration file format.

// ----------------------------------------------------------------
// Input

input {
    // For more information, see xkeyboard-config(7)
    keyboard {
        xkb {
            // this would be a good spot to do per-hostname configuration
            // via chezmoi templating.
            layout "us"
            // numpad always generates numbers == "mac" mode
            options "compose:caps,numpad:mac,shift:breaks_caps"
        }
    }

    touchpad {
        tap
        dwt
        // dwtp
        natural-scroll
        accel-speed 0.5
        // accel-profile "flat"
        // tap-button-map "left-middle-right"
        // click-method "clickfinger"
    }

    tablet {
        {{- if eq .chezmoi.hostname "yuzu" }}
        map-to-output "HDMI-A-1"
        {{- else }}
        map-to-output "DP-1"
        {{- end }}
    }

    // Make the mouse warp to the center of newly focused windows
    warp-mouse-to-focus
}

// ----------------------------------------------------------------
// Output

{{- if eq .chezmoi.hostname "limon" }}
output "DP-2" {
    variable-refresh-rate on-demand=true
    scale 1.25
}
{{- else }}
output "DP-2" {
    scale 1.25
}
{{- end }}

// ----------------------------------------------------------------
// Layout

layout {
    gaps 8
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off

        width 1
        active-gradient from="rgba(245, 194, 231, 0.6)" to="rgba(180, 190, 254, 0.6)" angle=45
        inactive-gradient from="rgb(69, 71, 90)" to="rgb(49, 50, 68)" angle=45
    }

    border {
        // off

        width 1
        active-gradient from="rgba(243, 139, 168, 0.9)" to="rgba(203, 166, 247, 0.9)" angle=45 in="oklch decreasing hue"
        inactive-gradient from="rgba(69, 71, 90, 0.9)" to="rgba(88, 91, 112, 0.9)" angle=45 in="oklch decreasing hue"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// ----------------------------------------------------------------
// Miscellaneous

environment {
    GTK_THEME "Materia-dark"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
}

cursor {
    xcursor-theme "Breeze"
}

prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time
screenshot-path "~/Pictures/Screenshots/ss %Y-%m-%d %H-%M-%S.png"

// Disable the hotkey help at niri startup
hotkey-overlay {
    // skip-at-startup
}

// ----------------------------------------------------------------
// Workspaces

workspace "shell" {}

workspace "browsing" {}

workspace "coding" {}

workspace "multimedia" {}

workspace "gaming" {}

// ----------------------------------------------------------------
// Window Rules

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    open-maximized true
}

window-rule {
    match at-startup=true app-id="kitty"
    open-on-workspace "shell"
}

window-rule {
    match at-startup=true app-id="firefox-nightly"
    open-on-workspace "browsing"
}

window-rule {
    match app-id="discord"
    open-on-workspace "multimedia"
}

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// ----------------------------------------------------------------
// Key Bindings

binds {
    Mod+Shift+Slash         { show-hotkey-overlay; }

    // Session
    Mod+Ctrl+Q              { quit; }
    Mod+Shift+Ctrl+Q        { spawn "killall" "-SIGUSR1" "waybar"; }
    Pause                   { spawn "~/.config/swaylock/lock-screen.fish"; }
    Mod+Pause               { spawn "reboot"; }
    Ctrl+Alt+Delete         { spawn "poweroff"; }
    Mod+Shift+P             { power-off-monitors; }

    // Screenshots
    Print                   { screenshot-screen; }
    Ctrl+Print              { screenshot; }
    Alt+Print               { screenshot-window; }

    // Hardware Control
    XF86AudioRaiseVolume    { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume    { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute           { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    XF86MonBrightnessUp     { spawn "brightnessctl" "--class=backlight" "set" "10%+"; }
    XF86MonBrightnessDown   { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // App Launchers
    Mod+Return              { spawn "kitty"; }
    Mod+Space               { spawn "fuzzel"; }
    Mod+T                   { spawn "kitty"; }
    Mod+B                   { spawn "firefox-nightly"; }
    Mod+V                   { spawn "env" "DISPLAY=:0" "discord"; }
    // Mod+Y                   { spawn "kitty" "--class" "yazi" "-T" "yazi" "-e" "yazi"; }
    Mod+S                   { spawn "env" "DISPLAY=:0" "steam"; }

    // Focus
    Mod+H                   { focus-column-or-monitor-left; }
    Mod+J                   { focus-window-or-workspace-down; }
    Mod+K                   { focus-window-or-workspace-up; }
    Mod+L                   { focus-column-or-monitor-right; }

    Mod+Alt+H               { focus-column-first; }
    Mod+Alt+L               { focus-column-last; }

    Mod+Shift+H             { focus-monitor-left; }
    Mod+Shift+L             { focus-monitor-right; }

    Mod+Shift+J             { focus-workspace-down; }
    Mod+Shift+K             { focus-workspace-up; }

    Mod+1                   { focus-workspace "shell"; }
    Mod+2                   { focus-workspace "browsing"; }
    Mod+3                   { focus-workspace "coding"; }
    Mod+4                   { focus-workspace "multimedia"; }
    Mod+5                   { focus-workspace "gaming"; }
    Mod+6                   { focus-workspace 6; }
    Mod+7                   { focus-workspace 7; }
    Mod+8                   { focus-workspace 8; }
    Mod+9                   { focus-workspace 9; }

    Mod+Tab                 { focus-workspace-previous; }

    // ----------------------------------------------------------------
    // Move

    Mod+Ctrl+H              { move-column-left; }
    Mod+Ctrl+J              { move-window-down; }
    Mod+Ctrl+K              { move-window-up; }
    Mod+Ctrl+L              { move-column-right; }

    // Mod+Ctrl+J              { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K              { move-window-up-or-to-workspace-up; }

    Mod+Ctrl+Alt+H          { move-column-to-first; }
    Mod+Ctrl+Alt+L          { move-column-to-last; }

    Mod+Ctrl+Shift+J        { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+K        { move-column-to-workspace-up; }

    Mod+Shift+Ctrl+H        { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L        { move-column-to-monitor-right; }

    Mod+Shift+Page_Down     { move-workspace-down; }
    Mod+Shift+Page_Up       { move-workspace-up; }

    Mod+Shift+1             { move-column-to-workspace "shell"; }
    Mod+Shift+2             { move-column-to-workspace "browsing"; }
    Mod+Shift+3             { move-column-to-workspace "coding"; }
    Mod+Shift+4             { move-column-to-workspace "multimedia"; }
    Mod+Shift+5             { move-column-to-workspace "gaming"; }
    Mod+Shift+6             { move-column-to-workspace 6; }
    Mod+Shift+7             { move-column-to-workspace 7; }
    Mod+Shift+8             { move-column-to-workspace 8; }
    Mod+Shift+9             { move-column-to-workspace 9; }

    // Columns and windows
    Mod+Q                   { close-window; }

    Mod+BracketLeft         { consume-or-expel-window-left; }
    Mod+BracketRight        { consume-or-expel-window-right; }

    Mod+R                   { switch-preset-column-width; }
    Mod+F                   { maximize-column; }
    Mod+Shift+F             { fullscreen-window; }
    Mod+C                   { center-column; }

    // Finer width adjustments
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels
    Mod+Minus               { set-column-width "-10%"; }
    Mod+Equal               { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus         { set-window-height "-10%"; }
    Mod+Shift+Equal         { set-window-height "+10%"; }
}

// Startup
// spawn-at-startup "firefox-nightly"
spawn-at-startup "waybar" "-c" "~/.config/waybar/config-niri.jsonc"
spawn-at-startup "niri" "msg" "action" "focus-workspace" "shell"
