{{- if not .darwin -}}
[Unit]
Description=Bitwarden Session Manager Timer
Requires=bitwarden-session.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
{{- end -}}