# ALIASES
# -----------
[alias]
    a = "add"
    co = "checkout"
    rb = "rebase --interactive origin/main"
    rba = "rebase --abort"
    rbc = "rebase --continue"
    rbm = "rebase --interactive origin/master"
    # use as ```git squash-all -m "a brand new start"```
    # taken from https://stackoverflow.com/a/23486788/164655
    squash-all = "!f(){ git reset $(git commit-tree \"HEAD^{tree}\" \"$@\");};f"

# Tool setttings
# --------------

[core]
	pager = "hunk pager"

[credential "https://gist.github.com"]
	helper = !gh auth git-credential

[credential "https://github.com"]
	helper = !gh auth git-credential

[init]
	defaultBranch = "main"

[branch]
	autosetupmerge = true

[pull]
	rebase = true

[push]
    default = "simple"
    recurseSubmodules = on-demand

[rerere]
	enabled = true

[submodule]
    recurse = true

[user]
	email = "ashebanow@gmail.com"
	name = "Andrew Shebanow"
	signingkey = "{{ index (output "bws" "secret" "get" "b84feb92-7f56-471d-b1a8-b479014b3475" | fromJson) "value" | trim }}"

[gpg]
	format = "ssh"

[gpg "ssh"]
	allowedSignersFile = "~/.ssh/allowed_signers"

[commit]
	gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
