{
  "activeWorkspace": "boxbow",
  "authPreference": "workspace",
  "workspaces": {
    "suwiki": {
      "apiKey": "{{ index (output "bws" "secret" "get" "d3c9dba0-ea88-4774-bd62-b4a9001c6d9a" | fromJson) "value" }}"
    },
    "boxbow": {
      "apiKey": "{{ index (output "bws" "secret" "get" "d3c9dba0-ea88-4774-bd62-b4a9001c6d9a" | fromJson) "value" }}"
    }
  }
}
